@import '/src/styles/style-variables.css';
@import '/src/styles/responsive-styles.css';

body {
  margin: 0px;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(ellipse at bottom, rgb(27, 40, 54) 0%, rgb(9, 10, 15) 100%);
  /* background: radial-gradient(ellipse at bottom, #4473a7 0%, #2b314a 100%); */
  background-attachment: fixed;  /* background-size: 100%; */
}

/* headers */
.page-header {
  padding: 1em;
}

/* sizing */
.size-2em {
  font-size: 3em;
  /* margin: 1em; */
}

/* text */
.light-text {
  /* color: rgb(226, 226, 226); */
  color: var(--text-color-main);
}

.header {
  color: var(--first-color-lighter);
  font-size: xx-large;
  font-weight: 500;
}

.subHeader {
  color: var(--first-color-light);
  font-size: large;
  font-weight: 500;
  text-decoration: none;
}

.headerNotes {
  color: var(--first-color-lighter);
  font-size: small;
  /* font-weight: 00; */
}

.text-align-c {
  text-align: center;
}

/* display reference and flex reference*/
.flex {
  display: flex;
}
.wrap {
  flex-wrap: wrap;
}
.evenly {
  justify-content: space-evenly;
}

.between {
  justify-content: space-between;
}

.column {
  flex-direction: column;
}

.block {
  display: block
}

.align-c {
  align-items: center;
}
.align-e {
  align-items: flex-end;
}

.center {
  justify-content: center;
}

/* buttons */
.btn-primary {
  color: #fff;
  background-color: #86a557;
  text-decoration: none;
  text-align: center;
  padding: 1em;
  height: fit-content;
  width: fit-content;
  align-self: center;
  border-radius: 8px;
  cursor: pointer;
}

.btn-radial {
  display: flex;
  align-items: center;
  background: #551131;
  color: #fff;
  text-decoration: none;
  text-align: center;
  padding: 1em;
  margin: 1em;
  height: 3em;
  min-height: fit-content;
  width: 8em;
  min-width: fit-content;
  align-self: center;
  border: 1px solid #1b2735;
  border-radius: 8px;
  transition: ease-in-out .1s;
}
.btn-radial:hover {
  background: #831549;
}

.btn-radial-responsive {
  display: flex;
  align-items: center;
  background: #551131;
  color: #fff;
  text-decoration: none;
  text-align: center;
  padding: .5em;
  margin: .25em;
  height: fit-content;
  min-height: fit-content;
  width: fit-content;
  align-self: center;
  border: 1px solid #1b2735;
  border-radius: 6px;
  transition: ease-in-out .1s;
}

.btn-radial-responsive:hover {
  background: #831549;
}

.btn-action {
  /* background: #12714c; */
  background: var(--second-color);
  color: #fff;
  text-decoration: none;
  text-align: center;
  padding: .5em;
  margin: 1em;
  min-height: fit-content;
  min-width: fit-content;
  align-self: center;
  border: 1px solid #1b2735;
  border-radius: 8px;
  transition: ease-in-out .1s;
  cursor: pointer
}
.btn-action:hover {
  background: #1d9869;
}

.btn-danger {
  background: #971214;
  color: #fff;
  text-decoration: none;
  text-align: center;
  padding: .5em;
  margin: 1em;
  min-height: fit-content;
  min-width: fit-content;
  align-self: center;
  border: 1px solid #1b2735;
  border-radius: 8px;
  transition: ease-in-out .1s;
  cursor: pointer
}

.btn-danger:hover {
  background: #d4272a;
}


/* container reference */
.full-container {
  background-color: rgb(0, 0, 0, .2);
  width: 100vw;
}
.padded-container-1 {
  padding: 1em;
  background-color: rgb(0, 0, 0, .2);
  z-index: 10;
  /* border: 1px solid orange; */
}
.padded-container-1-light {
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  width: fit-content;
}

.centered-container-w70 {
  width: 70%;
  margin: 0 auto;
}

/* border reference */
.bottom-header-border {
  padding-bottom: 1em;
  border-bottom: 1px solid var(--second-color);
}

/* width */
.w-fit {
  width: fit-content;
}

.w-auto {
  width: auto;
}

.w-100 {
  width: 100%;
}

.w-90 {
  width: 90%;
}

.w-80 {
  width: 80%;
}

.w-70 {
  width: 70%;
}

.w-60 {
  width: 60%;
}

.w-50 { 
  width: 50%;
}
.w-quarter {
  width: 25%;
}


/* margins reference */
.m-none {
  margin: 0;
}

.m-l-auto {
  margin-left: auto;
}
.m-r-auto {
  margin-right: auto;
}
.m-center {
  margin-left: auto;
  margin-right: auto;
}
.m-1 {
  margin: 1em;
}
.m-quarter {
  margin: .25em;
}

.section-margin {
  margin-bottom: var(--mb-3);
}

.m-b-1 {
  margin-bottom: 1em;
}

.m-b-2 {
  margin-bottom: 2em;
}

/* padding reference */
.p-quarter {
  padding: .25em;
}
