body {
  margin: 0px;
  width: 100vw;
}


.page-header {
  padding: 1em;
}

.light-text {
  color: rgb(226, 226, 226);
}

.flex-evenly {
  display: flex;
  justify-content: space-evenly;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.btn-primary {
  color: #fff;
  background-color: #86a557;
  text-decoration: none;
  text-align: center;
  padding: 1em;
  height: fit-content;
  width: fit-content;
  align-self: center;
  border-radius: 8px;
}

.btn-radial {
  background: #551131;
  color: #fff;
  text-decoration: none;
  text-align: center;
  padding: 1em;
  height: fit-content;
  width: fit-content;
  align-self: center;
  border: 1px solid #1b2735;
  border-radius: 8px;
}