/* Text size */

@media (min-width: 769px) {
  .responsive-text-large {
    /* font-size: x-large; */
    font-size: min(max(16px, 2vw), 1.5em);
  }
  .responsive-text-medium {
    font-size: large;
  }

}

@media (max-width: 768px) {
  .responsive-text-large {
    font-size: medium;
  }
  .responsive-text-medium {
    font-size: small;
  }
}